# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime. 

# NODE_ENV=development | production
NODE_ENV=development

# Application Port - express server listens on this port (default 3000).
PORT=3500

# Put lots of randomness in these
SESSION_SECRET=ashdfjhasdlkjfhalksdjhflak
PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
...
Kh9NV...
...
-----END RSA PRIVATE KEY-----"
